@(message: String) @Main("Home") {
<div class="container">
  <div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carasel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="carousel-1"></div>
        <div class="carousel-caption">
          <h3>Internet Explorer</h3>
        </div>
      </div>

      <div class="item">
        <div class="carousel-2"></div>
        <div class="carousel-caption">
          <h3>Firefox</h3>
        </div>
      </div>

      <div class="item">
        <div class="carousel-3"></div>
        <div class="carousel-caption">
          <h3>Chrome</h3>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="icon-prev"></span>
    </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="icon-next"></span>
    </a>
  </div>
</div>
}
